<!-- Curation Section -->
<section class="curation_wrap">
    <div class="card_container">
        <div class="card">
            <div class="card_header">
                <strong class="card_series">
                    머니랩
                    <span class="lg_hidden card_series_index">
                        <strong class="font_white">1</strong>
                        <span>/</span>
                        <span>6</span>
                    </span>
                </strong>
                <p class="card_series_desc">경제의 흐름이<br>그려지고</p>
            </div>
            <div class="card_body">
                <figure class="card_img">
                    <a href="/article/25345573" target="_self">
                        <img src="https://pds.joongang.co.kr/joongangplus/card/202506/1bb0b272-e3e7-4958-a239-4aecea6537b0.jpg"
                            alt="머니랩" width="384" height="500" loading="lazy">
                    </a>
                </figure>
                <figcaption class="card_headline">
                    <a href="/article/25345573" target="_self">
                        "이커머스 최소 850조 더 번다"
                        아마존·쿠팡의 '비밀 영업사원'
                    </a>
                </figcaption>
            </div>
        </div>
        <div class="card">
            <div class="card_header">
                <strong class="card_series">
                    팩플
                    <span class="lg_hidden card_series_index">
                        <strong class="font_white">2</strong>
                        <span>/</span>
                        <span>6</span>
                    </span>
                </strong>
                <p class="card_series_desc">기술의 미래가<br>보이고</p>
            </div>
            <div class="card_body">
                <figure class="card_img">
                    <a href="/article/25345070" target="_self">
                        <img src="https://pds.joongang.co.kr/joongangplus/card/202506/d7826992-83e0-4823-8adb-e3321079dc4e.jpg"
                            alt="팩플" width="384" height="500" loading="lazy">
                    </a>
                </figure>
                <figcaption class="card_headline">
                    <a href="/article/25345070" target="_self">
                        AI 굴려 '월급 1인분' 추가요~
                        2시간 걸린 블로그도 10분컷
                    </a>
                </figcaption>
            </div>
        </div>
        <div class="card">
            <div class="card_header">
                <strong class="card_series">
                    hello! Parents
                    <span class="lg_hidden card_series_index">
                        <strong class="font_white">3</strong>
                        <span>/</span>
                        <span>6</span>
                    </span>
                </strong>
                <p class="card_series_desc">아이의 생각과<br>마음까지 알게 됩니다</p>
            </div>
            <div class="card_body">
                <figure class="card_img">
                    <a href="/article/25345588" target="_self">
                        <img src="https://pds.joongang.co.kr/joongangplus/card/202506/ada9ec63-07b5-4633-a445-b898c9673bf0.jpg"
                            alt="hello! Parents" width="384" height="500" loading="lazy">
                    </a>
                </figure>
                <figcaption class="card_headline">
                    <a href="/article/25345588" target="_self">
                        지각 잦으면 대학도 못간다?
                        '초등 학생부' 무서운 후폭풍
                    </a>
                </figcaption>
            </div>
        </div>
        <div class="card">
            <div class="card_header">
                <strong class="card_series">
                    라이프
                    <span class="lg_hidden card_series_index">
                        <strong class="font_white">4</strong>
                        <span>/</span>
                        <span>6</span>
                    </span>
                </strong>
                <p class="card_series_desc">지금까지<br>만난 적 없던</p>
            </div>
            <div class="card_body">
                <figure class="card_img">
                    <a href="/article/25345026" target="_self">
                        <img src="https://pds.joongang.co.kr/joongangplus/card/202506/9b8271de-7e57-4607-913a-2219dea8a136.jpg"
                            alt="라이프" width="384" height="500" loading="lazy">
                    </a>
                </figure>
                <figcaption class="card_headline">
                    <a href="/article/25345026" target="_self">
                        '영알못' 김영철 비웃은 동료
                        그때 신동엽이 건넨 한마디
                    </a>
                </figcaption>
            </div>
        </div>
        <div class="card">
            <div class="card_header">
                <strong class="card_series">
                    클래식
                    <span class="lg_hidden card_series_index">
                        <strong class="font_white">5</strong>
                        <span>/</span>
                        <span>6</span>
                    </span>
                </strong>
                <p class="card_series_desc">더 깊은<br>지식 이끄는</p>
            </div>
            <div class="card_body">
                <figure class="card_img">
                    <a href="/article/25345020" target="_self">
                        <img src="https://pds.joongang.co.kr/joongangplus/card/202506/02ab22eb-296f-4816-9fb1-ddf769fa5a56.jpg"
                            alt="클래식" width="384" height="500" loading="lazy">
                    </a>
                </figure>
                <figcaption class="card_headline">
                    <a href="/article/25345020" target="_self">
                        "듣자마자 커피 뿜을 뻔했다"
                        거장 빙의한 25살 '지휘 천재'
                    </a>
                </figcaption>
            </div>
        </div>
        <div class="card">
            <div class="card_header">
                <strong class="card_series">
                    종합
                    <span class="lg_hidden card_series_index">
                        <strong class="font_white">6</strong>
                        <span>/</span>
                        <span>6</span>
                    </span>
                </strong>
                <p class="card_series_desc">깊이 있는<br>통찰로</p>
            </div>
            <div class="card_body">
                <figure class="card_img">
                    <a href="/article/25345021" target="_self">
                        <img src="https://pds.joongang.co.kr/joongangplus/card/202506/3f8b4c8a-8d4e-4f5a-9c7b-5e2f1a9d4c6e.jpg"
                            alt="종합" width="384" height="500" loading="lazy">
                    </a>
                </figure>
                <figcaption class="card_headline">
                    <a href="/article/25345021" target="_self">
                        더 깊은 세상으로 안내하는
                        중앙일보의 지식 콘텐츠
                    </a>
                </figcaption>
            </div>
        </div>
    </div>
</section> 