<!-- Entry Section -->
<section class="entry_wrap" role="main">
    <div class="background"></div>
    <div class="entry_content">
        <div id="entry-heading" class="entry_headline">
            <div class="initial_text text1">당신의</div>
            <div class="entry_words">
                <div class="word word1">경제</div>
                <div class="word word2">지식</div>
                <div class="word word3">세상</div>
                <div class="word word4">호기심</div>
            </div>
            <div class="initial_text text2">이 깊어지는 중</div>
        </div>
    </div>
</section> 