<!-- Mission Section -->
<section class="mission_wrap">
    <div class="mission_wrap_container">
        <div class="mission_wrap_item our_mission">
            <h2 class="headline">
                <span class="visually_hidden">Our Mission</span>
            </h2>
            <div class="mission_content">
                <ul class="mission_list">
                    <li>
                        더중앙플러스는 <br class="lg_hidden">정제된<br class="sm_hidden">
                        지식 콘텐트를 제공하는<br>
                        지식 구독 플랫폼을 지향합니다
                    </li>
                    <li>
                        콘텐트의 완성도를 높이고<br>
                        콘텐트를 정제하는 안목으로,<br>
                        시대와 고객이 필요로 하는<br>
                        통찰력을 담습니다
                    </li>
                </ul>
            </div>
        </div>
        <div class="mission_wrap_item benefit">
            <h2 class="headline">
                <span class="visually_hidden">Benefit</span>
            </h2>
            <div class="mission_content">
                <ol class="mission_list benefit_list">
                    <li>
                        <span class="index">01</span>
                        <strong class="benefit_title">
                            넘쳐나는 저품질 정보들 속에서<br>
                            지식의 퀄리티를 보장합니다
                        </strong>
                        <div class="benefit_desc">
                            60년 중앙일보의 각 분야 기자/에디터들이 직접 취재하고 <br class="sm_hidden">
                            제작한 콘텐트로 신뢰할 수 있습니다
                        </div>
                    </li>
                    <li>
                        <span class="index">02</span>
                        <strong class="benefit_title">
                            깊이 있고 검증된 지식으로<br>
                            구독자 경쟁력을 끌어올립니다
                        </strong>
                        <div class="benefit_desc">
                            탄탄한 취재원과 견고한 네트워크를 통해 공신력 있는 지식을, 속도전을 넘어 <br class="sm_hidden">
                            뉴스의 공식을 깨고, 긴 호흡의 취재와 탐사를 통해 깊이를 파고듭니다
                        </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="mission_wrap_item personality">
            <h2 class="headline">
                <span class="visually_hidden">Personality</span>
            </h2>
            <div class="mission_content">
                <ul class="mission_list personality_list">
                    <li>
                        <strong class="personality_title">믿을 수 있는</strong>
                        <div class="personality_desc">
                            믿고 보는 더중앙플러스가 되도록<br>
                            깊이 있고 검증된 지식을 다룹니다
                        </div>
                    </li>
                    <li>
                        <strong class="personality_title">집요함</strong>
                        <div class="personality_desc">
                            지속 가능한 정제된 지식을<br>
                            담기 위해 치열하게 고민합니다
                        </div>
                    </li>
                    <li>
                        <strong class="personality_title">도전적인</strong>
                        <div class="personality_desc">
                            현재에 만족하지 않고 뉴스의<br>
                            공식을 넘어 끊임없이 도전합니다
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section> 