<!-- Promise Section -->
<section class="promise_wrap">
    <header>
        <h2 class="promise_headline">
            <div class="promise_headline_top">더중앙플러스의</div>
            <div class="promise_headline_bottom">
                <div class="promise_words">
                    <div class="word word1">
                        <strong class="visually_hidden">믿을 수 있는 지식</strong>
                    </div>
                    <div class="word word2">
                        <strong class="visually_hidden">도전정신</strong>
                    </div>
                    <div class="word word3">
                        <strong class="visually_hidden">집요함</strong>
                    </div>
                </div>
                <strong>알려드릴게요</strong>
            </div>
        </h2>
    </header>
    <div class="background"></div>
</section> 