<!-- Slogan Section -->
<section class="slogan_wrap" aria-labelledby="slogan-heading">
    <div class="background"></div>
    <header id="slogan-heading">
        <h2 class="slogan_headline">
            <div class="slogan_msg msg1">
                <span class="visually_hidden">지금 더중앙플러스에서 만나는 지식으로</span>
            </div>
            <div class="slogan_msg msg2">
                <div class="visually_hidden">더 깊은 지식의 세계로</div>
            </div>
            <div class="slogan_msg msg3">
                <span class="visually_hidden">당신의 세상이 깊어지는 중</span>
            </div>
        </h2>
    </header>
</section> 