<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, address=no, email=no" />
    <title>당신의 세상이 깊어지는 중, 더중앙플러스 | 중앙일보</title>
    <meta name="title" content="당신의 세상이 깊어지는 중, 더중앙플러스 | 중앙일보" />
    <meta name="description" content="지금 더중플에서 만나는 지식으로, 더 깊은 세상으로. 당신의 세상이 깊어지는 중" />
    <meta name="news_keywords" content="중앙일보, 더중앙플러스, 더중플, 더중앙플러스 구독, 브랜드 캠페인, 당신의 세상이 깊어지는 중, 슬로건, 브랜드 영상, 브랜드 필름, 이벤트, 즉석당첨 이벤트">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:url" content="https://www.joongang.co.kr/2025brand-campaign_plus-story?thejoongang_open_browser=y" />
    <meta property="og:title" content="당신의 세상이 깊어지는 중, 더중앙플러스 | 중앙일보" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="지금 더중플에서 만나는 지식으로, 더 깊은 세상으로. 당신의 세상이 깊어지는 중" />
    <meta property="og:image" content="https://img.joongang.co.kr/pubimg/event/2025/brand/intro/og/img_SNS_facebook.jpg" />
    <meta property="og:image:kakao" content="https://img.joongang.co.kr/pubimg/event/2025/brand/intro/og/img_SNS_kakaotalk.jpg">
    <meta property="og:site_name" content="중앙일보" />
    <meta property="og:locale" content="ko_KR" />
    <meta property="article:author" content="https://www.joongang.co.kr" />
    <meta property="article:publisher" content="https://www.joongang.co.kr" />
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="당신의 세상이 깊어지는 중, 더중앙플러스 | 중앙일보" />
    <meta name="twitter:description" content="지금 더중플에서 만나는 지식으로, 더 깊은 세상으로. 당신의 세상이 깊어지는 중" />
    <meta name="twitter:image" content="https://img.joongang.co.kr/pubimg/event/2025/brand/intro/og/img_SNS_facebook.jpg" />
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://img.joongang.co.kr/pubimg/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://img.joongang.co.kr/pubimg/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://img.joongang.co.kr/pubimg/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://img.joongang.co.kr/pubimg/favicon/site.webmanifest">
    <link href="https://img.joongang.co.kr/pubimg/favicon/favicon.ico" rel="shortcut icon">
    
    <!-- External CSS -->
    <link rel="stylesheet" href="https://static.joongang.co.kr/css/font.css">
    <link rel="stylesheet" href="https://static.joongang.co.kr/css/plugin/jswiper.min.css">
    <link rel="stylesheet" href="https://static.joongang.co.kr/css/layout.min.css?20250526070140">
    <link rel="stylesheet" href="https://static.joongang.co.kr/css/event/brand_2025_new_slogan.min.css?202506171444">
    
    <!-- External JavaScript -->
    <script src="https://static.joongang.co.kr/js/lib/jquery-3.3.1.min.js?20250526070140"></script>
    <script src="https://static.joongang.co.kr/js/plugin/jquery.tmpl.min.js?20250526070140"></script>
    <script src="https://static.joongang.co.kr/js/resource.js?20250526070140"></script>
    <script src="https://static.joongang.co.kr/js/utils/include.js?20250526070140"></script>
    <script src="https://static.joongang.co.kr/js/utils/utils.js?20250526070140"></script>
    <script src="https://static.joongang.co.kr/js/utils/messageUtil.js?20250526070140"></script>
    <script src="https://static.joongang.co.kr/js/common.js?20250526070140"></script>
    <script src="https://static.joongang.co.kr/js/search.js?20250526070140"></script>
    <script src="https://static.joongang.co.kr/jsn/jaSwiperAutoload.js?20250526070140" defer></script>
    <script defer src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    
    <!-- Animation Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    
    <!-- Main Application Script -->
    <script src="js/main.js" type="module"></script>
</head> 