<!-- Header Component -->
<header id="header" class="header nav_re emblem60 black_type position_ab" style="top: 60px;">
    <div class="uh">
        <a href="https://www.joongang.co.kr/plus" class="logo_plus" data-evnt-ctg="header navigation"
            data-evnt-act="click: logo" data-evnt-lbl="중앙플러스" aria-label="중앙일보 플러스">
            <strong>더 중앙 플러스</strong>
        </a>
        <div class="header_right_area">
            <ul class="logout sm_hidden hide">
                <li><a href="javascript:jaLogin();" data-evnt-ctg="account" data-evnt-act="click: login">로그인</a></li>
                <li><a href="javascript:jaJoin();" data-evnt-ctg="header navigation" data-evnt-act="click: register">회원가입</a></li>
            </ul>
            <div class="header_option_area">
                <button type="button" class="btn_search" onclick="onClickSearchButton()"
                    data-evnt-ctg="area:중앙|더중플 브랜드 캠페인 더중플 스토리" data-evnt-act="move:search_검색창"
                    data-evnt-lbl="검색창 열기" aria-label="검색">
                    <i class="ico_search art_search"></i>
                    <i class="ico_search_gra art_search_gra"></i>
                    <i class="ico_search_ai art_ai"></i>
                </button>
                <button type="button" class="btn_navbar" data-evnt-ctg="header navigation"
                    data-evnt-act="click: megamenu" data-evnt-lbl="메뉴" onclick="openLayer(this, menu_popup);"
                    aria-label="메뉴">
                    <i class="ico_ham"></i>
                </button>
                <a href="https://www.joongang.co.kr" class="btn_shortcut" aria-label="더중앙 바로가기"
                    data-evnt-ctg="header navigation" data-evnt-act="click: logo shortcuts" data-evnt-lbl="중앙">
                    <i class="ico_shortcut"></i>
                    <i class="ico_emblem60" role="img" aria-label="60주년"></i>
                </a>
            </div>
        </div>
    </div>
</header> 